a {
	color : #2f5572;
}

a:hover {
	color : #276080;
}

.addUser {
	position:relative;
}

#table {
	margin-top:10rem;	
}

.btn-admin{
	position : absolute;

	left:45%;
	margin-bottom:3rem;
}

	.anchor{
		all:revert;
		color : #2f5572;
		margin-bottom:5rem;
	}